/*TODO:  Add dark-mode*/
:root{
  --primary-color: #99b898;
  --secondary-color: #f8b195;
  --accent-color: lightgrey;
  --dark-color: #2a363b;
  --light-color: rgb(245,246,247);
}
body{
  margin: 0;
  padding: 0;
  background: var(--dark-color);
  color: var(--primary-color);
}

a{
  text-decoration: none;
  color: var(--secondary-color);
  border: transparent;
  border-radius: 10px;
}

a:hover{
  color: var(--light-color);
  background: #40515881; /* last two digits opacity value */
}


ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
} 

section {
  overflow: hidden;
  max-width: 100%;

}

/* Navigation */

.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  max-width: 100%;
  background-color: var(--dark-color);
  z-index: 3;
  padding: 1rem; 
  font-size: 1.3rem;
  display: flex;
}

.nav{
 display: flex;
 margin:0 10% 0 auto;
}
.nav-link:nth-child(1){
 margin-right: 1rem;
}
.nav-link{ 
  padding: 1rem;
}



/* Welcome */

#welcome-section {
  height: 90vh;
  margin-top: 5rem;
  display: flex;
}

.welcome-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
}

h1{
  font-size: 4rem;
  color: var(--accent-color);
}

h2 {
  font-size: 2rem;
  color: var(--primary-color)
  }

.welcome-title {
  display: flex;
  margin: 0 auto;
  transition: opacity 2s;
}

.welcome-title span {
  font-size: 5rem;
  padding: 0 5px 0 0;
}

.welcome-title span {
  color: var(--accent-color);
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.welcome-title span:nth-child(1){
  animation:  fadein 2.5s linear;
}
.welcome-title span:nth-child(2){
  animation:  fadein 2.5s linear;
}
.welcome-title span:nth-child(3){
  animation:  fadein 3s linear;
}
.welcome-title span:nth-child(4){
  animation:  fadein 3.5s linear;
}
.welcome-title span:nth-child(5){
  animation:  fadein 4s linear;
}
.welcome-title span:nth-child(6){
  animation:  fadein 4.5s linear;
}
.welcome-title span:nth-child(7){
  animation:  fadein 5s linear;
}
.welcome-title span:nth-child(8){
  animation:  fadein 5s linear;
}

/* Projects */

#projects {
  background: var(--accent-color);
  max-width: 100vw;
  display: flex;
}
.projects-container {
  display: grid;
  padding: 1rem;
  margin: 2rem auto;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  max-width: 1200px;
  min-width: 0px;
}

.project-tile {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  background: var(--secondary-color);
  color: var(--dark-color);
  border-radius: 10px;
  border:1px transparent;
  overflow: hidden;
  max-height: 100vh;
}

.project-img {
  width: 100%;
  height: 100%;
}

.project-tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  color: var(--light-color);
  background: var(--dark-color);
}

.project-tile .desc {
  margin-top: auto;
  padding: 0.5rem 2rem;
  
}

.desc h4{
  font-size: 1.4rem;
}

.desc p {
  font-size: 1.1rem;
}



/* contact information */

#contact-info {
  height: max-content;
}
.contact-container {
  max-height: 70vh;
  margin: 5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.contact-container p {
  font-size: 1.3rem;
  color: var(--light-color);
}

.personal-links {
  display: flex;
  margin: 3rem auto;
}

.profile-link {
  font-size: 1.6rem;
  width:max-content;
  margin:0 0.3rem;
  padding: 1rem;
}



@media screen and (max-width: 800px) {
  .welcome-title span {
    font-size: 4rem;
    padding: 0 5px 0 0;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit);
    margin: 0;
    padding: 0.3rem;
  }
  .profile-link{
    margin:0 0.3rem;
    padding: 0.5rem;
  }

  .nav-bar {
    position: relative;
  }

  .nav {
    margin: 0 auto;
  }
}

