
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$darkBackground: #2d2d2d;
$darkAccent: #333;
$darkColor: #000;

$lightBackground: gainsboro;
$lightAccent: grey;
$lightColor: whitesmoke;

$codeFont: 'inconsolata', monospace;
$lightBorder: 2px solid $lightColor;
$darkBorder: 2px solid $darkColor;

// $color: ;
// $accent: ;
// $background: ;

* {
  font-family: "Monserrat", Geneva, Tahoma, sans-serif;
}

body {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: $darkBackground;
}

.container {
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 1200px;
  
  .maximized {
    height: 100%;
  }
  .hide {
    display: none;
  }
  .toolbar {
    position: relative;
    border: $darkBorder;
    background-color: $lightColor;
    h3 {
      display: inline;
    }
    i {
     padding: 0.3rem;
    &:last-of-type {
      position: absolute;
      right: 0;
      &:hover {
        color: $lightAccent;
      }
    }
  }
  }
  .maximizeTextarea {
    height: 98vh;
  }
  .editor {
    min-height: 30vh;
    max-width: 1200px;
    margin-bottom: 1rem;
    textarea { 
      font-family: $codeFont;
      border: $darkBorder;
      border-top: none;
      min-height: 30vh;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      background-color: $lightBackground;
      resize: vertical;
      margin: 0;
      padding: 1rem;
      &:focus {
        outline: none;
      }
    }
  }
  .previewer {
    overflow-wrap: break-word;
    .preview {
      color: $darkAccent;
      background-color: $lightBackground;
      min-height: 30vh;
      border: $darkBorder;
      border-top: none;
      padding: 1rem;
      blockquote {
        border-left: 3px solid #224b4b;
        color: #224b4b;
        padding-left: 5px;
        margin-left: 25px;
      }

      > p > code {
        padding: 3px;
      }

      code {
        background: $darkAccent;
        font-size: 0.875rem;
        color: $lightColor;
        font-family: $codeFont;
      }

      pre {
        font-family: $codeFont;
        display: block;
        overflow: auto;
        background: $darkAccent;
        padding: 5px;
        line-height: 1.5;
      }

      h1 {
        border-bottom: 2px solid $darkAccent;
      }

      h2 {
        border-bottom: 1px solid $darkAccent;
      }

      table {
        border-collapse: collapse;
      }

      td,
      th {
        border: 2px solid $darkAccent;
        padding-left: 5px;
        padding-right: 5px;
      }

      a {
        text-decoration: underline;
      }

      img {
        display: block;
        max-width: 50%;
        margin: 2rem auto;
      }
    }
  }
}


@media (max-width: 900px) {
  
  .container {
    padding: 0 0.3rem;
    
    .editor {
      textarea {
        height: 100%;
        resize: none;
      }
    }
  }
}
