:root {
    --primary-color: #e50914;
    --dark-color: #303030;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

h1,
 h2,
  h3,
   h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    height: 100%;
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}


/* Header */
.showcase {
    width: 100%;
    max-height: min-content; 
    padding: 0 0 10rem 0;
    position: relative;
    background: url('/Projects/netflix-clone/img/background-large.jpg') no-repeat center center /cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.45);
    background-image: linear-gradient( rgba(0,0,0,.85), rgba(0,0,0,0),
    rgba(0,0,0,.85));
}

.header-content {
    position: relative;
    z-index: 2;
    height: 90px;
    display: flex;
    padding: 1rem 5%;
}

.header-content img {
    max-width: 170px;
    margin: 0 auto 0 0;
    padding: 0.5rem;
}
.header-content .language-option{
    margin: auto 3%;
    font-size: 1rem;
}
.header-content a {
    height: 2rem;
    margin: auto 0;
}

.showcase-content {
    position: relative;
    padding: 9rem 0 0;
    margin: 0 auto;
    width: 65%;
    z-index: 2;
    display: grid;
    gap: 1rem;
    place-items: center;
    text-align: center;
}

.showcase-content h1 {
    font-weight: 560;
    font-size: 4rem;
    line-height: 1.1;
}

.showcase-content h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.25;
}

.showcase-content h3 {
    font-weight: 400;
}

/* Email Form */
.email-form {
    display: flex;
    padding: 0 1rem;
    width: 90%;
    max-width: 800px;
}
.email-form input {
    flex: 2 1 auto;
}


/* Stages */
.stage {
    display: grid;
    place-items: center;
}
.info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    place-items: center;
    text-align: left;
    margin: 0rem 5%;
    padding:3rem 0 4rem; 
    max-width: 900px;
}

.stage img {
    max-width: 600px;
}


/* FAQ  */
.faq-container{
    display: grid;
    gap: 1rem;
    place-items: center;
    text-align: center;
    margin: 5rem 5%;
}

.faq-content {
    width: 85%;
    max-width: 900px;
}

.questions-container {
    margin-top: 3rem;
}

.faq .question {
    display: flex;
    background-color: var(--dark-color);
    color: #fff;
    margin-top: 0.5rem;
    padding: 0.8rem 2rem;
    cursor: pointer; 
}


.faq .question :nth-child(2) {
    margin-left: auto;
    font-weight: 100;
}

.faq .answer {
    background-color: var(--dark-color);
    color: #fff;
    padding: 1.3rem;
    text-align: left;
    margin-top: 1px;
    display: none;
}

/* Footer */
.footer-container {
    max-width: 70%;
    margin: 3rem auto;
    display: grid;
    gap: 1.5rem;
}

.footer  a{
    color: rgb(95,95,95);
}

.footer a:hover {
    text-decoration: underline;
}


.links-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1rem; 
    font-size: 0.83em;
}

.links-container .link {
    padding: 0.5rem; 
}



/* Language Option */
.language-option{
    border: 0.5px solid;
    max-width: 7.5rem;
    display: flex;
    align-items: center;
}

.btn-icon {
    padding: 0.5rem;
}

.language-option:hover {
    cursor: default;
    color: #fff;
}

/* text style */
.text-xl{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.text-lg{
    font-weight: 350;
    font-size: 1.5rem;
    line-height: 2.1rem;
}

.text-lg{
    font-weight: 350;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/*  Section Border */
.border {
    width: 100%;
    height: 10px;
    background-color: #222222;
    border-color: #222222;
}


/* Buttons */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
    border-radius: 2px;
    display: flex;
    align-items: center;
    min-width: max-content;
    padding: 0 1rem;
}
.btn span {
    margin:0 auto;
}
.btn:hover {
    background-color: red;
}

.btn-rounded {
    border-radius: 4px;
}

.btn-xl {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase; 
    min-height: 60px;
}

.btn i {
    padding: 0.5rem;
}


@media (max-width: 950px) {
    .showcase-content h1 {
        font-size: 3rem;
    }
    .header-content img {
        max-width: 130px;
        max-height: 45px;
        
    }
    .info-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center; 
    }

    .info-container.mobile{
        flex-direction: column-reverse;
    }

    .links-container {
        gap: 1rem;
        grid-template-columns: repeat(3,1fr);
    } 

    .links-container .link {
        padding: 0.3; 
    }
    
    .email-form {
        display: flex;
        flex-direction: column;
    }
    .email-form input {
        height: 60px;
        margin: 0 0 1rem 0;
    }
    .email-form a {
        font-size: 1.5rem;
        margin: auto;
    }

    .btn {
        font-size: 0.9rem;
    }

    .text-xl{
        font-size: 2rem;
    }
    
    .text-lg{
        font-size: 1.2rem;
    }
} 

@media (max-width: 550px) {
   
    .showcase {
        padding-bottom: 5rem ;
    }
    .showcase-content {
        padding-top: 3rem;
        width: 100%;
    }
    
    .showcase-content h1 {
        font-size: 1.9rem;
    }
    
    .showcase-content h2 {
        font-size: 1.2rem;
    }
    
    .faq-container{
        margin: 5rem 0;
    }
    
    .faq-content {
        width: 100vw;
    }
     
    .faq .question i {
        font-size: 2rem;
    }

    .footer .links-container {
        grid-template-columns: repeat(2,1fr);
    } 
    
    .links-container .link {
        padding: 0;
    }

}